#poke-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #666;
    color: #fff; }
  
  #poke-filter:focus{
    outline: none;
  }

  .selected-pkm {
    position: fixed;
    display: grid;
    border: 2px solid #fff;
    border-radius: 125px;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
  }
  
  .poke-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    text-transform: capitalize;
    opacity: 0.95;
}
  

.poke-list-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
    background-size: cover;
    background-image: url("https://hanashiro.github.io/pokedex/images/pokeball.svg");
  }

  .poke-list-item section {
    position: relative;
  }

  
  .numberTag {
    position: absolute;
    width: 120px;
    top: 30px;
    left: 0;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.9);
    text-align: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
  }

  .nameTag {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }

  .tag span {
    font-size: 20px;
    color: black; 
  }

  .pkmImg {
    transition: transform .2s ;
  }

  .poke-list-item:hover  img{
      transform: scale(1.3);
  }

  .poke-list-item img{
    vertical-align: middle;
  }